ion-content ion-toolbar {
    --background: white;
  }

  .fab-list-side-start{
    margin: -70px 66px;
  }
  .fab-list-side-end{
    margin: -70px 66px;
  }

  .fab-button-in-list { 
    width: 60px;
    height: 60px;
  }

.fab-button-in-list >ion-icon {
    font-size: 22px;
    
}

.logo span:nth-child(1) {
  background: #3256c3;
  color: #ffffff;
  border-radius: 1vw;
  display: inline-block;
}