
<ion-header collapse="fade" [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-row>
      <ion-col >
        <a href="/" class="btn ion-text-left logo fs-3" >
          <span contenteditable="true"  >Co</span>
          <span contenteditable="true" class="text-white" >unt</span>
        </a>
      </ion-col>
      <ion-col>
          <ion-icon id="trigger-button" class=" fs-2 text-white float-end text-primary"  name="help-circle-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content fullscreen>
  
  <ion-modal trigger="trigger-button"  [isOpen]="false"   > 
    <ng-template>
      <ion-header translucent>
        <ion-toolbar>
          <ion-title class="text-white fs-3">Ajuda</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content fullscreen>

      </ion-content>
    </ng-template>
  </ion-modal>

  <ion-row class="container">
    <ion-col >
      <ion-input type="number" value="1" max="10" min="1" [(ngModel)]="this.photoService.valueOfTakes">Quantidade de vezes: </ion-input>
    </ion-col>
  </ion-row>

  <ion-row class="vh-100" *ngIf="this.photoService.photosStoraged.length <= 0;else gallery" >
    <ion-col size="12" class="text-center my-auto text-muted"> 
      <p>
        Primeira vez no Count? <br>
        Experimente clicando abaixo
      </p>
      <ion-icon  name="arrow-down-outline"></ion-icon>      
    </ion-col>
   
  </ion-row>

  <ng-template #gallery>
    <ion-row class="container">
      Ultima contagem:
      <ion-row>
    <ion-col size="3" class=" border-primary border" *ngFor="let photo of this.photoService.photosStoraged; index as position">
      <ion-img [src]="photo.webviewPath" (click)="showActionSheet(photo, position)" loading="lazy"></ion-img>
    </ion-col>
    
  </ion-row>
    </ion-row>
    <ion-row class="container">
      Contagem total: 35 chifres
    </ion-row>
  </ng-template>
  <ion-fab vertical="bottom" horizontal="center" slot="fixed" >
    <ion-fab-button >
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
      <div *ngIf="isMobile;else web">
        <ion-fab-button > 
          <label>
            <ion-icon  name="camera" class="fs-2"></ion-icon> 
            <input class="d-none" accept="image/*" capture="environment" type="file" (change)="openCameraNativeMobile($event)">
          </label>
      </ion-fab-button>
      </div>
      <ng-template #web>
        <ion-fab-button (click)="this.photoService.getPhoto(type.WEB_CAMERA)">
          <ion-icon  name="camera" class="fs-2"></ion-icon>
        </ion-fab-button>
      </ng-template>
    </ion-fab-list>
    <ion-fab-list side="end">
      <ion-fab-button (click)="this.photoService.getPhoto(type.FILES)">
        <ion-icon name="images-outline" class="fs-2"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>


  
</ion-content>

 
  

