<app-count-header></app-count-header>

<ion-content fullscreen>
  <ion-row class="card bg-transparent">
    <ion-card>
      <ion-card-title class="card-header fs-5 text-center">
        Quantas capturas para análise?
      </ion-card-title>
      <ion-row class="card-body ">
        <ion-col class="d-flex justify-content-center">
          <a class="btn btn-primary" (click)="this.photoService.valueOfTakes = 1" [ngClass]="this.photoService.valueOfTakes == 1 ? 'active' : ''">1</a>
      </ion-col>
        <ion-col class="d-flex justify-content-center">
        <a class="btn btn-primary" (click)="this.photoService.valueOfTakes = 2" [ngClass]="this.photoService.valueOfTakes == 2 ? 'active' : ''">2</a>
      </ion-col>
        <ion-col class="d-flex justify-content-center"> 
        <a class="btn btn-primary" (click)="this.photoService.valueOfTakes = 3" [ngClass]="this.photoService.valueOfTakes == 3 ? 'active' : ''">3</a>
      </ion-col>
        <ion-col class="d-flex justify-content-center">
        <a class="btn btn-primary" (click)="this.photoService.valueOfTakes = 4" [ngClass]="this.photoService.valueOfTakes == 4 ? 'active' : ''">4</a>
      </ion-col>
      </ion-row>
    </ion-card>
  </ion-row>

 
  <ion-row class="vh-100" *ngIf="this.photoService.photosStoraged.length <= 0;else gallery" >
    <ion-col size="12" class="text-center my-auto text-muted"> 
      <p>
        Primeira vez no Count? <br>
        Experimente clicando abaixo
      </p>
      <ion-icon  name="arrow-down-outline"></ion-icon>      
    </ion-col>
  </ion-row>
  
  <ng-template #gallery >
    <ion-row class="card bg-transparent">
    <ion-card >
      <ion-card-title class="card-header fs-5 text-center">
        Total: {{this.photoService.valueOfTakes}} chifre
      </ion-card-title>
      <ion-row class="card-body ">
        <ion-col size="6" class=" border-primary border p-0" *ngFor="let photo of this.photoService.photosStoraged; index as position">
          <ion-img [src]="photo.webviewPath" (click)="showActionSheet(photo, position)"></ion-img>
        </ion-col>
      </ion-row>
      <div class="card-buttons">
      <ion-icon name="trash-outline" class="fs-5 float-start m-3"></ion-icon>
      <ion-icon name="download-outline" class="fs-5 float-end m-3"></ion-icon>
    </div>

    </ion-card>
  </ion-row>
   
  </ng-template>

  <ion-fab vertical="bottom" horizontal="center" slot="fixed" >
    <ion-fab-button >
      <ion-icon name="add-outline"></ion-icon>
    </ion-fab-button>
    <ion-fab-list side="start">
        <ion-fab-button (click)="this.photoService.getPhoto(type.WEB_CAMERA)">
          <ion-icon  name="camera" class="fs-2"></ion-icon>
        </ion-fab-button>
    </ion-fab-list>
    <ion-fab-list side="end">
      <ion-fab-button (click)="this.photoService.getPhoto(type.FILES)">
        <ion-icon name="images-outline" class="fs-2"></ion-icon>
      </ion-fab-button>
    </ion-fab-list>
  </ion-fab>


  
</ion-content>

 
  

