
<ion-header collapse="fade" [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-row>
      <ion-col  >
        <a href="/" class="btn ion-text-center d-flex justify-content-center logo fs-3" >
          <span contenteditable="true">Co</span>
          <span contenteditable="true">unt</span>
        </a>
      </ion-col>
          <!-- <ion-icon id="trigger-button" class=" fs-2  float-end text-primary"  name="help-circle-outline"></ion-icon> -->
    </ion-row>
  </ion-toolbar>
</ion-header>

 <!-- <ion-modal trigger="trigger-button"  [isOpen]="false"   > 
    <ng-template>
      <ion-header translucent>
        <ion-toolbar>
          <ion-title class="text-white fs-3">Ajuda</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content fullscreen>

      </ion-content>
    </ng-template>
  </ion-modal>  -->