ion-header ion-toolbar {
    background-color: #1A1A1A !important;
  }

.logo span:nth-child(1) {
  background: #C6C99D;
  color:black;
  border-radius: 1.2vw;
  display: inline-block;
  padding: 1vw;
}
.logo span:nth-child(2) {
  background: #E7EBB0;
  color: black;
  border-radius: 1.2vw;
  display: inline-block;
  padding: 1vw;
}