<ion-header collapse="fade" [translucent]="true" class="ion-no-border">
  <ion-toolbar>
    <ion-row>
      <ion-col >
        <a href="/" class="btn ion-text-left logo fs-3" >
          <span contenteditable="true"  >Co</span>
          <span contenteditable="true" class="text-white" >unt</span>
        </a>
      </ion-col>
      <ion-col>
          <ion-icon id="trigger-button" class=" fs-2 text-white float-end text-primary"  name="help-circle-outline"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row class="container">
    <ion-col size="6" class="border-primary border p-0" *ngFor="let photo of this.photoService.photosTemp; index as position">
      <ion-img [src]="photo.webviewPath" (click)="showActionSheet(photo, position)" loading="lazy"></ion-img>
    </ion-col>
  </ion-row>

</ion-content>

<button type="button" class="btn btn-success btn-lg btn-block" (click)="this.countService.getCount()">Iniciar Contagem</button>
<button type="button" class="btn btn-danger btn-lg btn-block" (click)="this.cancelCounting()">Cancelar</button>
